<ul>
    {% set asset = op.data.asset %}
    <li>{{ 'transactions.operations.fields.asset'|trans }}:
        {% if asset.url %}<a href="{{ asset.url }}">{{ asset.label }}</a>{% else %}{{ asset.label }}{% endif %}
    </li>
    {% if op.data.limit %}
        <li>{{ 'transactions.operations.fields.limit'|trans }}: {{ op.data.limit }}</li>
    {% endif %}
</ul>
