<ul>
    <li>{{ 'transactions.operations.fields.from'|trans }}:
        {{ include('account_link.twig', {data: op.data.from}, with_context = false) }}
    </li>
    {% set asset = op.data.asset %}
    <li>{{ 'transactions.operations.fields.asset'|trans }}:
        {% if asset.url %}<a href="{{ asset.url }}">{{ asset.label }}</a>{% else %}{{ asset.label }}{% endif %}
    </li>
    <li>{{ 'transactions.operations.fields.amount'|trans }}:
        {% include 'amount.twig' with {value: op.data.amount} only %}
    </li>
</ul>
