<ul>
    <li>{{ 'transactions.operations.fields.data_name'|trans }}: {{ op.data.name }}</li>
    {% if not op.data.cleared %}
        {% if op.data.decoded_value is not null %}
            <li>{{ 'transactions.operations.manage_data.decoded_value'|trans }}: <code>{{ op.data.decoded_value }}</code></li>
        {% elseif op.data.value_raw is not empty %}
            <li>{{ 'transactions.operations.manage_data.raw_value'|trans }}: <code>{{ op.data.value_raw }}</code></li>
        {% endif %}
    {% endif %}
</ul>
