<ul>
    <li>{{ 'transactions.operations.fields.to'|trans }}:
        {{ include('account_link.twig', {data: op.data.to}, with_context = false) }}
    </li>
    {% set asset = op.data.asset %}
    <li>{{ 'transactions.operations.fields.amount'|trans }}:
        {% include 'amount.twig' with {value: op.data.amount} only %}
        {% if asset.url %}
            <a href="{{ asset.url }}">{{ asset.label }}</a>
        {% else %}
            {{ asset.label }}
        {% endif %}
    </li>
</ul>
