<ul>
    {% set asset = op.data.asset %}
    <li>{{ 'transactions.operations.fields.asset'|trans }}:
        {{ include('token_link.twig', {token: asset}, with_context = false) }}
    </li>
    <li>{{ 'transactions.operations.fields.trustor'|trans }}:
        {{ include('account_link.twig', {data: op.data.trustor}, with_context = false) }}
    </li>
    {% if op.data.set_flags %}
        <li>{{ 'transactions.operations.flags.set'|trans }}: {{ op.data.set_flags|join(', ') }}</li>
    {% endif %}
    {% if op.data.clear_flags %}
        <li>{{ 'transactions.operations.flags.clear'|trans }}: {{ op.data.clear_flags|join(', ') }}</li>
    {% endif %}
</ul>
