{% extends "page.twig" %}

{% block title %}{{ 'error404.title'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'nav.mtla'|trans }}</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">{{ 'error404.title'|trans }}</h1>
    <p class="block">
{#        <a href="/mtla/council">{{ 'nav.council'|trans }}</a>#}
    </p>
{% endblock %}

