{% extends "page.twig" %}

{% block title %}And - {{ display_name }} — Accounts{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">BSN</a></li>
    <li><a href="/accounts/" aria-current="page">Accounts</a></li>
    <li><a href="/accounts/{{ account_id }}" aria-current="page">{{ account_short_id }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">And</a></li>
{% endblock %}

{% block content %}
    <h1 class="title">{{ display_name }} And</h1>

    <h1 class="title">Connections</h1>
    <ul>
        {% for account in connections|sort((a, b) => b.bsn_score <=> a.bsn_score) %}
            <li>
                <a href="/accounts/{{ account_id }}/and/{{ account.id }}" class="account_name">{{ account.display_name }}</a>
                {% if account.bsn_score %}({{ account.bsn_score }}){% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
