{% extends "page.twig" %}

{% block title %}{{ 'editor.result'|trans }} — {{ 'nav.editor'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
    <li><a href="/editor/" aria-current="page">{{ 'nav.editor'|trans }}</a></li>
    <li><a href="/editor/{{ account.id }}" aria-current="page">{{ account.short_id }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'editor.result'|trans }}</a></li>
{% endblock %}

{% block content %}
    <style>
        .qr_svg svg {
            width: 50vmin;
            background-color: #d6d9e0;
            padding: 10px;
        }
    </style>
    <h1 class="title">{{ 'editor.result'|trans }}</h1>
    <p class="block">
        {{ 'editor.instruction'|trans }}
    </p>

    <p class="block">
        Operations: {{ operations_count }}
    </p>

    <div class="field">
        <label for="xdr_body">{{ 'editor.transaction_label'|trans }}:</label>
        <div class="control">
            <textarea class="textarea" id="xdr_body">{{ xdr }}</textarea>
        </div>
    </div>

    <h2 class="title is-4">{{ 'editor.sign_by_link.header'|trans }}</h2>

    <p class="block"><a href="{{ sep_07 }}">{{ 'editor.sign_by_link.link_text'|trans }}</a></p>

    <p class="block qr_svg">{{ qr_svg|raw }}</a></p>

    <h2 class="title is-4">Sign by secret key</h2>

    <p class="block"><a href="https://eurmtl.me/uri?xdr={{ xdr|url_encode }}">The page to sign</a></p>



{% endblock %}

