{% extends "page.twig" %}

{% block title %}Editor{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">BSN</a></li>
    <li><a href="/editor/" aria-current="page">Editor</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ account.short_id }}</a></li>
{% endblock %}


{% block content %}
<script>
    $(function () {
        const $tags_selector = $('#tags_selector');
        if (!$tags_selector.length) {
            return;
        }

        const $tags_switchers = $('#tags_switchers input[type=checkbox]');
        $tags_selector.find('.tag#tags_selector_all').click(function () {
            const $set = $tags_switchers.filter(':not(:checked)');
            $set.prop('checked', true);
            $set.change();
            return false;
        });
        $tags_selector.find('.tag#tags_selector_nothing').click(function () {
            const $set = $tags_switchers.filter(':checked');
            $set.prop('checked', false);
            $set.change();
            return false;
        });
        $tags_selector.find('.tag:not(#tags_selector_all)').click(function () {
            const $cell = $(this);
            $tags_switchers.filter(':checked').prop('checked', false).change();
            for (const tag of $cell.data('tags')) {
                $('#tag_switcher_' + tag).prop('checked', true).change();
            }
            return false;
        });

        $tags_switchers.change(function () {
            const tag = this.id.substring(13);
            console.log(tag)
            $(".tag_input_" + tag).closest('.cell').toggle(this.checked);
        });

        $tags_selector.toggleClass('is-hidden');
    });
</script>

<h1 class="title">Editor</h1>
<h1 class="subtitle">{{ include('account_link.twig', {id: account.id, name: account.display_name}, with_context = false) }}</h1>

<p class="block">Alternative BSN editor → <a href="https://eurmtl.me/bsn/{{ account.id }}">eurmtl.me/bsn</a></p>
<form method="post">

    <div class="block is-hidden" id="tags_selector">
        <p class="block">Which tags do you want edit?</p>
        <p class="block">Select group of tags:</p>
        <div class="tags">
            <button class="tag is-primary is-medium" id="tags_selector_nothing">Nothing</button>
            <button class="tag is-primary is-medium" id="tags_selector_all">All</button>
            {% for group_name, tags in group_tags %}
            <button class="tag is-primary is-medium" data-tags="{{ tags|json_encode|e('html_attr') }}">{{ group_name }}</button>
            {% endfor %}
        </div>

        <div class="fixed-grid has-auto-count" id="tags_switchers">
            <div class="grid is-gap-1">
                {% for tag in tags %}
                    <div class="cell py-1 px-2 has-radius-normal">
                        <label><input type="checkbox" id="tag_switcher_{{ tag.name }}" checked/>&nbsp;{{ tag.name }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% for contact in contacts %}
    <h2 class="title is-5">{{ include('account_link.twig', {id: contact.id, name: contact.display_name}, with_context = false) }}</h2>

    <div class="fixed-grid has-auto-count">
        <div class="grid is-gap-1">
            {% for tag in tags %}
            <div class="cell py-1 px-2 has-radius-normal{% if values[contact.id][tag.name] %} has-background-primary has-text-primary-invert{% endif %}">
                {% if tag.is_single %}
                    <label><input type="radio"
                           name="tag[{{ tag.name }}]"
                           class="tag_input_{{ tag.name }}"
                           value="{{ contact.id }}" {% if values[contact.id][tag.name] %}checked{% endif %}
                    />&nbsp;{{ tag.name }}</label>
                {% else %}
                    <label><input type="checkbox"
                           name="tag[{{ tag.name }}][{{ contact.id }}]"
                           class="tag_input_{{ tag.name }}"
                           {% if values[contact.id][tag.name] %}checked{% endif %}
                    />&nbsp;{{ tag.name }}</label>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

        <p class="block">Nobody</p>
<div class="fixed-grid has-auto-count">
    <div class="grid is-gap-1">

    {% for tag in tags %}
        <div class="cell py-1 px-2 has-radius-normal{% if values[contact.id][tag.name] %} has-background-primary has-text-primary-invert{% endif %}">
            {% if tag.is_single %}
                <label><input type="radio"
                       name="tag[{{ tag.name }}]"
                       class="tag_input_{{ tag.name }}"
                       value="" {% if not single_tag_has_value[tag.name] %}checked{% endif %}
                />&nbsp;{{ tag.name }}</label>
            {% else %}
                <label><input type="checkbox"
                      class="tag_input_{{ tag.name }}"
                      disabled
                />&nbsp;{{ tag.name }}</label>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

        <div class="field is-grouped">
            <div class="control">
                <input type="reset" class="button is-light" value="Reset">
            </div>
            <div class="control">
                <input type="submit" class="button is-link" value="Prepare transaction">
            </div>
        </div>
    </form>

<pre>
    Что хочу отображать:
    1. Актуальное состояние чек-бокса. Самим чек-боксом, и цветом.

    2. Состояние различия чек-бокса и известного значения

    3. Желательно статус есть ли встречный тег:
        а. Есть просто парный, вроде One Family
        б. А есть парный, с другим названием, вроде OwnershipFull.

    4. Обработка тегов, которые могут быть только одни: mtl_delegate и Owner, например.
       Показывать их как радио-батоны. При сохранении ругаться, если значений больше одного.
    </pre>
{% endblock %}

