{% extends "page.twig" %}

{% block title %}{{ 'nav.preferences'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">BSN</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'nav.preferences'|trans }}</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">{{ 'nav.preferences'|trans }}</h1>

    <p class="block">
        {{ 'preferences.description'|trans }}
    </p>

    <form action="/preferences" method="post">
        <div class="field">
            <label class="label" for="default_bsn_viewer">{{ 'preferences.default_viewer.header'|trans }}</label>
            <div class="control">
                <div class="select">
                    <select id="default_bsn_viewer" name="viewer">
                        <option value="this">bsn.mtla.me</option>
                        <option value="brainbox" {% if current_value == 'brainbox' %}selected{% endif %}>bsn.brainbox.no</option>
                    </select>
                </div>
            </div>
            <p class="help">{{ 'preferences.default_viewer.description'|trans }}</p>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <input type="submit" class="button is-link" value="Submit">
            </div>
            <div class="control">
                <input type="reset" class="button is-light" value="Reset">
            </div>
        </div>
    </form>
{% endblock %}

