{% extends "page.twig" %}

{% block title %}{{ tag.name }} — Tags{% endblock %}

{% block breadcrumbs %}
        <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
        <li><a href="/tags/" aria-current="page">{{ 'nav.tags'|trans }}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ tag.name }}</a></li>
{% endblock %}

{% block content %}
        <script>
                $(function () {
                        $(".table").tablesorter();
                });
        </script>
<h1 class="title">{{ tag.name }}</h1>

        {% if tag.is_editable and session.stellar_id %}
        <p class="block"><a href="/editor/{{ session.stellar_id }}/?tag={{ tag.name }}">{{ 'tag_page.edit_link'|trans }} →</a></p>
        {% endif %}

        <table class="table" data-sortlist="[[0,0],[1,0]]">
                <thead>
                <tr>
                        <th data-sorter="text">{{ 'tag_page.source'|trans }}</th>
                        <th data-sorter="text">{{ 'tag_page.target'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for link in links %}
                <tr>
                        <td>{{ include('account_link.twig', {data: link.source_account}, with_context = false) }}</td>
                        <td>{{ include('account_link.twig', {data: link.target_account}, with_context = false) }}</td>
                </tr>
                {% endfor %}
                </tbody>
        </table>

{% endblock %}
