{% extends "page.twig" %}

{% block title %}Multisig{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">BSN</a></li>
    <li class="is-active"><a href="#" aria-current="page">Multisig</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">Мультиподпись</h1>
    {% if errors %}
        <div class="notification is-danger">
            <h2 class="title is-4">Найдены ошибки</h2>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </div>
    {% endif %}

    {% if save %}
        <div class="notification is-info">
            <h2 class="title is-4">Готовая транзакция:</h2>
            {% if xdr %}
            <code>{{ xdr }}</code>
            {% else %}
            <p class="block">У вас тут в итоге нечего менять</p>
            {% endif %}
        </div>
    {% endif %}

    <form action="/tools/multisig" method="post">
        <h2 class="title is-4">Основное</h2>
        <div class="field">
            <label class="label" for="account">Аккаунт</label>
            <div class="field has-addons">
                <div class="control is-expanded has-icons-left">
                    <input
                            id="account"
                            class="input"
                            type="text"
                            name="account"
                            placeholder="G..."
                            value="{{ account }}"
                            maxlength="56"
                    />
                    <span class="icon is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                <div class="control">
                    <button name="action" value="load" class="button is-primary">
                        Load data
                    </button>
                </div>
            </div>
            <p class="help">Стеллар аккаунт, для которого редактируется мультиподпись</p>
        </div>

        <h2 class="title is-4">Лимиты</h2>
        <p class="block">
            Для того чтобы транзакция была успешно принята блокчейном, нужно чтобы она собрала подписями
            необходимый лимит. Каждый участник мультиподписи обладает своим весом голоса, они суммируются.
        </p>

        <div class="box">
        <div class="field">
            <label class="label" for="account">Лимит для простых операций</label>
            <div class="control has-icons-left">
                <input
                        id="low_threshold"
                        class="input"
                        type="number"
                        min="1"
                        max="255"
                        step="1"
                        name="low_threshold"
                        placeholder="1"
                        value="{{ low_threshold }}"
                        maxlength="3"
                />
                <span class="icon is-left has-text-success">
                    <i class="fas fa-weight-hanging"></i>
                </span>
            </div>
            <p class="help">1-255. Лимит для безопасных операций: Bump sequence, Set trustline flags, Claim claimable balance</p>
        </div>
        <div class="field">
            <label class="label" for="medium_threshold">Лимит основных операций</label>
            <div class="control has-icons-left">
                <input
                        id="med_threshold"
                        class="input"
                        type="number"
                        min="1"
                        max="255"
                        step="1"
                        name="med_threshold"
                        placeholder="1"
                        value="{{ med_threshold }}"
                        maxlength="3"
                />
                <span class="icon is-left has-text-warning">
                    <i class="fas fa-weight-hanging"></i>
                </span>
            </div>
            <p class="help">1-255. Лимит основного блока операций, вроде исходящих платежей</p>
        </div>
        <div class="field">
            <label class="label" for="high_threshold">Лимит для серьёзных операций</label>
            <div class="control has-icons-left">
                <input
                        id="high_threshold"
                        class="input"
                        type="number"
                        min="1"
                        max="255"
                        step="1"
                        name="high_threshold"
                        placeholder="1"
                        value="{{ high_threshold }}"
                        maxlength="3"
                />
                <span class="icon is-left has-text-danger">
                    <i class="fas fa-weight-hanging"></i>
                </span>
            </div>
            <p class="help">1-255. Лимит для двух опасных транзакций: обновление мультиподписи и слияния аккаунта в другой</p>
        </div>
        </div>

        <h2 class="title is-4">Участники мультиподписи</h2>
        <div class="box">
        {% for i in 0..20 %}
        <div class="field">
            <label class="label" for="account_{{ i }}">{% if i %}Участник {{ i }}{% else %}Мастер ключ{% endif %}</label>
            <div class="field has-addons">
                <div class="control is-expanded has-icons-left">
                    <input
                            id="account_{{ i }}"
                            class="input"
                            type="text"
                            name="account_{{ i }}"
                            placeholder="G..."
                            value="{% if i %}{{ multisig[i].account|default('') }}{% else %}{{ account }}{% endif %}"
                            maxlength="56"
                            {% if not i %}disabled{% endif %}
                    />
                    <span class="icon is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                <div class="control has-icons-left">
                    <input
                            id="weight_{{ i }}"
                            class="input"
                            type="number"
                            min="1"
                            max="255"
                            step="1"
                            name="weight_{{ i }}"
                            value="{{ multisig[i].weight|default('') }}"
                            maxlength="3"
                    />
                    <span class="icon is-left">
                        <i class="fas fa-weight-hanging"></i>
                    </span>
                </div>
            </div>
            <p class="help">{% if i %}Стеллар аккаунт и вес его подписи (1-255){% else %}Вес той подписи, что образуется оригинальным ключем этого аккаунта. Для организаций обычно устанавливают 0, то есть отключает.{% endif %}</p>
        </div>
        {% endfor %}
        </div>

        <div class="field is-grouped">
            <div class="control">
                <input type="reset" class="button is-light" value="Reset">
            </div>
            <div class="control">
                <input type="submit" name="action" class="button is-link" value="{{ 'tools_multisig.buttons.calculate'|trans }}">
            </div>
        </div>
    </form>
{% endblock %}

