{% extends "page.twig" %}

{% block title %}{{ display_name }} — {{ 'nav.accounts'|trans }}{% endblock %}
{% set og_title = display_name %}
{% set og_description = about|join(' ') %}
{% set og_url = canonical_url %}

{% block breadcrumbs %}
        <li><a href="/" aria-current="page">BSN</a></li>
        <li><a href="/accounts/" aria-current="page">{{ 'nav.accounts'|trans }}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ account_short_id }}</a></li>
{% endblock %}

{% block content %}
<h1 class="title">{{ display_name }}
        {% if session.account %}
        <a class="button is-outlined {% if not is_contact  %}is-warning{% else %}is-primary{% endif %}"
           href="/contacts/{{ account_id }}"
           title="{% if is_contact  %}{{ 'account_page.contact_button.edit'|trans }}{% else %}{{ 'account_page.contact_button.add'|trans }}{% endif %}"
        ><span class="icon"><i class="fa-regular fa-address-book"></i></span></a>
        <a class="button is-outlined is-primary"
           href="/editor/{{ session.account.id }}/?id={{ account_id }}"
           title="{{ 'account_page.edit_button'|trans }}"
        ><span class="icon"><i class="fa-regular fa-square-check"></i></span></a>
        {% endif %}
</h1>
<h1 class="subtitle">
        <span class="stellar_address is-family-monospace">{{ account_id }}</span><br>
        {% if username %}<span class="stellar_address is-family-monospace">{{ username }}*bsn.expert</span><br>{% endif %}
        {{ 'account_page.alternatives'|trans }}:
        <a class="tag is-link" href="https://viewer.eurmtl.me/account/{{ account_id }}">Eurmtl.me</a>
        <a class="tag is-primary" href="https://stellar.expert/explorer/public/account/{{ account_id }}">Stellar.Expert</a>
        <a class="tag is-info" href="https://scopuly.com/account/{{ account_id }}">Scopuly</a>
        <a class="tag is-warning" href="https://bsn.brainbox.no/accounts/{{ account_id }}">BrainBox</a>
        <br>
        {% if session.show_telegram_usernames and telegram_username %}
        Telegram: <a href="https://t.me/{{ telegram_username }}">@{{ telegram_username }}</a><br>{% endif %}
        BSN score: {{ bsn_score }}
</h1>

{% set owner_link = outcome_tags.Owner.links[outcome_tags.Owner.links|keys|first] %}
{% set block_owner %}
{% if owner_link and owner_link.has_pair %}
        {{ 'account_page.owner_account'|trans }}:<br>
        {{ include('account_link.twig', {data: owner_link}, with_context = false) }}<br>
{% endif %}
{% endset %}

{% set block_slawes %}
{% if outcome_tags.OwnershipFull %}
        {{ 'account_page.ownership_full_accounts'|trans }}:<br>
        {% for link in outcome_tags.OwnershipFull.links %}
                {% if link.has_pair %}
                        {% if loop.last %}┕{% else %}┠{% endif %}
                        {{ include('account_link.twig', {data: link}, with_context = false) }}<br>
                {% endif %}
        {% endfor %}
{% endif %}
{% endset %}

{% if block_owner is not empty or block_slawes is not empty %}
        <div class="box">
                {{ block_owner }}
                {{ block_slawes }}
        </div>
{% endif %}

{% if name or about or website or timekoken.code %}
<dl class="box">
    {% if name %}
        <dt class="title is-4">{{ 'account_page.name'|trans }}</dt>
        <dd class="subtitle is-4">
            {% for item in name %}
                {{ item }}<br>
            {% endfor %}
        </dd>
    {% endif %}
    {% if about %}
        <dt class="title is-4">{{ 'account_page.about'|trans }}</dt>
        <dd class="subtitle is-4">
            {% for item in about %}
                {{ item }}<br>
            {% endfor %}
        </dd>
    {% endif %}
    {% if website %}
        <dt class="title is-4">{{ 'account_page.website'|trans }}</dt>
        <dd class="subtitle is-4">
            {% for item in website %}
                <a href="{{ item }}">{{ item }}</a><br>
            {% endfor %}
        </dd>
    {% endif %}
    {% if timetoken.code %}
        <dt class="title is-4">{{ 'account_page.timetoken'|trans }}</dt>
        <dd class="subtitle is-4">
                <a href="/tokens/{{ timetoken.code }}{% if not timetoken.is_known %}-{{ timetoken.issuer }}{% endif %}">{{ timetoken.code }}</a><br>
        </dd>
    {% endif %}
</dl>
{% endif %}

{% if signatures %}
<div class="box">
        <h2 class="title">{{ 'account_page.signatures.header'|trans }}</h2>
        {% for hash, signature in signatures %}
                <a href="/contracts/{{ hash }}" title="{{ hash }}" class="tag">{{ signature.name }}</a>
        {% endfor %}
</div>
{% endif %}

{% if issued_tokens %}
<div class="box">
        <h2 class="title">{{ 'account_page.issued_tokens.header'|trans }}</h2>
        <div class="field is-grouped is-grouped-multiline">
        {% for token in issued_tokens %}
                <div class="control">
                <a href="/tokens/{{ token.code }}{% if not token.is_known %}-{{ token.issuer }}{% endif %}" class="tags has-addons">
                <span class="tag is-dark is-hoverable">
                {{ token.code }}
                </span>
                {% if token.amount %}
                <span class="tag is-hoverable {{ token.is_known ? "is-info" : "" }}">{{ token.amount }}</span>
                {% endif %}
                </a>
                </div>
        {% endfor %}
        </div>
</div>
{% endif %}

{% if balances and display_balances %}
<div class="box">
        <h2 class="title">{{ 'account_page.balances.header'|trans }}</h2>
        <div class="field is-grouped is-grouped-multiline">
        {% for asset, balance in balances %}
                <div class="control">
                <a href="/tokens/{{ balance.code }}{% if balance.issuer %}-{{ balance.issuer }}{% endif %}" class="tags has-addons">
                <span class="tag is-dark is-hoverable" title="{{ asset }}">
                {{ balance.code }}
                </span>
                {% if balance.amount %}
                <span class="tag is-hoverable {{ balance.is_known ? "is-info" : "" }}">{{ balance.amount }}</span>
                {% endif %}
                </a>
                </div>
        {% endfor %}
        </div>
</div>
{% endif %}

{% if income_tags %}
<div class="box">
        <h2 class="title">{{ 'account_page.income_tags.header'|trans }}</h2>
        <div class="field is-grouped is-grouped-multiline">
        {% for tag in income_tags %}
                <div class="control">
                <div class="tags has-addons">
                <a href="#income_tag_{{ tag.name }}" class="tag is-link">
                {{ tag.name }}
                </a>
                <span class="tag is-info">{{ tag.links|length }}</span>
                </div>
                </div>
        {% endfor %}
        </div>
</div>
{% endif %}

{% macro pairing_marker (pair, has_pair, pair_strong) %}
        {% if pair %}
                {% if has_pair %}<span title="{{ 'account_page.pair.green'|trans }}: {{ pair }}">🟢</span>
                {% elseif pair_strong %}<span title="{{ 'account_page.pair.red'|trans }}: {{ pair }}">🔴</span>
                {% else %}<span title="{{ 'account_page.pair.yellow'|trans }}: {{ pair }}">🟡</span>
                {% endif %}
        {% else %}
                ⚪️
        {% endif %}
{% endmacro %}

<div class="columns">
<div class="column">
<h2 class="title">{{ 'account_page.income_tags.header'|trans }} <span class="icon" style="margin-left: 0.3em;"><i class="fa-solid fa-flip-vertical fa-arrow-right-to-bracket" style="transform: scaleX(-1); display: inline-block;"></i></span></h2>
<p class="block">{{ 'account_page.income_tags.description'|trans }}</p>
{% if income_tags %}
{% for tag in income_tags %}
<dl class="block">
        <dt class="title is-4" id="income_tag_{{ tag.name }}">{{ tag.name }} <a href="/tags/{{ tag.name }}">→</a></dt>
        {% for account_id, link in tag.links %}
                <dd>
                {{ _self.pairing_marker(tag.pair, link.has_pair, tag.pair_strong) }}
                {{ include('account_link.twig', {data: link}, with_context = false) }}
                </dd>
        {% endfor %}
</dl>
{% endfor %}
{% else %}
<p>{{ 'account_page.no_income_tags'|trans }}</p>
{% endif %}
</div>

<div class="column">
<h2 class="title">{{ 'account_page.outcome_tags.header'|trans }} <span class="icon" style="margin-left: 0.3em;"><i class="fa-solid fa-arrow-right-from-bracket"></i></span></h2>
<p class="block">{{ 'account_page.outcome_tags.description'|trans }}</p>
{% if outcome_tags %}
{% for tag in outcome_tags %}
<dl class="block">
        <dt class="title is-4">{{ tag.name }} <a href="/tags/{{ tag.name }}">→</a></dt>
        {% for account_id, link in tag.links %}
                <dd>
                {{ _self.pairing_marker(tag.pair, link.has_pair, tag.pair_strong) }}
                {{ include('account_link.twig', {data: link}, with_context = false) }}
                </dd>
        {% endfor %}
</dl>
{% endfor %}
{% else %}
<p>{{ 'account_page.no_outcome_tags'|trans }}</p>
{% endif %}
</div>
</div>
{% if income_tags or outcome_tags %}
<p class="block"><a href="/accounts/{{ account_id }}/and/">🪢 {{ 'account_page.this_account_and'|trans }}</a></p>
{% endif %}

{% endblock %}

