{% extends "page.twig" %}

{% block title %}{{ 'account_and.header'|trans }} - {{ display_name }} — {{ 'nav.accounts'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">BSN</a></li>
    <li><a href="/accounts/" aria-current="page">{{ 'nav.accounts'|trans }}</a></li>
    <li><a href="/accounts/{{ account_id }}" aria-current="page">{{ account_short_id }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'account_and.header'|trans }}</a></li>
{% endblock %}

{% block content %}
    <h1 class="title">
        {{ display_name }}
        <br>
        {{ 'account_and.header'|trans }}
    </h1>

<p class="block">{{ 'account_and.description'|trans }}</p>

<div class="columns">
    <div class="column">
    <h1 class="title">{{ 'account_and.connections.header'|trans }}</h1>
    <p class="block">{{ 'account_and.connections.description'|trans }}</p>
    <ul class="block">
        {% for account in connections|sort((a, b) => b.bsn_score <=> a.bsn_score) %}
            <li>
                <a href="/accounts/{{ account_id }}/and/{{ account.id }}" class="account_name">{{ account.display_name }}</a>
                {% if account.bsn_score %}({{ account.bsn_score }}){% endif %}
            </li>
        {% endfor %}
    </ul>
    </div>

    <div class="column">
    <h1 class="title">{{ 'account_and.tags.header'|trans }}</h1>
    <p class="block">{{ 'account_and.tags.description'|trans }}</p>
    <ul class="block">
        {% for tag in tags|sort((a, b) => a.name <=> b.name) %}
            <li>
                <a href="/accounts/{{ account_id }}/and/{{ tag.name }}">{{ tag.name }}</a>
            </li>
        {% endfor %}
    </ul>
    </div>
</div>

{% endblock %}
