{% extends "page.twig" %}

{% block title %}{{ 'nav.contacts'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'nav.contacts'|trans }}</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">{{ 'nav.contacts'|trans }}</h1>

    {% if errors %}
        <div class="notification is-danger">
            <h2 class="title is-4">Найдены ошибки</h2>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </div>
    {% endif %}

    <h2 class="title is-4">Import</h2>
    {% if is_read_only_mode %}
        <div class="notification is-warning">
            Import is disabled in read-only mode.
        </div>
    {% else %}
    <form method="post" action="/contacts" enctype="multipart/form-data">
        <div class="field">
            <label class="label" for="import_file">Contacts file</label>
            <input
                    id="import_file"
                    class="input"
                    type="file"
                    name="import_file"
                    required
                    accept="application/json"
            />
        </div>
        <div class="field">
            <label class="label" for="doubles">Duplicated elements</label>
            <div class="select">
                <select id="doubles" name="duplicates">
                    <option value="ignore">Ignore</option>
                    <option value="update">Update</option>
                </select>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <input type="submit" class="button is-link" value="Import">
            </div>
        </div>
    </form>
    {% endif %}

    {% if contacts %}
        <h2 class="title is-4">Export</h2>
        <p class="block">
            <a href="/contacts?export=json">Export all contacts as JSON file</a>
        </p>
    {% endif %}

    <h2 class="title is-4">New contact</h2>
    {% if is_read_only_mode %}
        <div class="notification is-warning">
            Adding contacts is disabled in read-only mode.
        </div>
    {% else %}
    <form method="post" action="/contacts">
    <div class="field">
        <label class="label" for="new_name_1">Address</label>
        <div class="control">
            <input type="text" name="new_stellar_account_1" class="input" placeholder="G..." size="56" maxlength="56" pattern="G[A-Z2-7]{55}">
        </div>
    </div>
    <div class="field">
        <label class="label" for="new_name_1">Name</label>
        <div class="control">
            <input type="text" name="new_name_1" class="input" placeholder="Optional name" size="32" maxlength="64">
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <input type="reset" class="button is-light" value="Reset">
        </div>
        <div class="control">
            <input type="submit" class="button is-link" value="Save">
        </div>
    </div>
    </form>
    {% endif %}

    {% if contacts %}
    <h2 class="title is-4">All contacts</h2>
    {% for contact in contacts %}
    <div class="is-flex mb-2 is-align-items-center">
        <a class="button"
           href="/contacts/{{ contact.id }}"
           title="{{ 'account_page.contact_button.edit'|trans }}"
        ><span class="icon"><i class="fa-regular fa-address-book"></i></span></a>
        <div class="ml-3">
            <div>{{ include('account_link.twig', {data: contact}, with_context = false) }}</div>
            <div>{{ contact.name }}</div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

{% endblock %}

