{% extends "page.twig" %}

{% block title %}{{ document.display_name }} — {{ 'nav.documents'|trans }}{% endblock %}

{% block breadcrumbs %}
        <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
        <li><a href="/documents/" aria-current="page">{{ 'nav.documents'|trans }}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ document.display_name }}</a></li>
{% endblock %}

{% block content %}
        <script>
                $(function () {
                        $(".table").tablesorter();
                });
        </script>
<h1 class="title">{{ 'document_page.header'|trans }}: {{ document.display_name }}</h1>
<h1 class="subtitle">
        <span class="is-family-monospace">{{ document.hash }}</span>
</h1>


{% if document.url %}
<p class="block"><a href="{{ document.url }}">{{ 'document_page.link'|trans }}</a></p>
{% endif %}

{% if document.is_obsolete or new_hash %}
<article class="message is-warning">
    <div class="message-body">
        {% if document.is_obsolete %}
            {{ 'document_page.obsolete'|trans }}
        {% endif %}
        {% if new_hash %}
            {{ 'document_page.new_version'|trans }} <a href="/documents/{{ new_hash.hash }}/" class="is-family-monospace">{{ new_hash.hash|hash_short }}</a>.
        {% endif %}
    </div>
</article>
{% endif %}

{% if document.text %}
    <div class="box">
        <h2 class="title">{{ 'document_page.text.header'|trans }}</h2>
        {% if invalid_hash %}
            <section class="hero is-small is-warning">
                <div class="hero-body">
                    <p class="title">{{ 'document_page.text.wrong_hash.header'|trans }}</p>
                    <p class="subtitle">{{ 'document_page.text.wrong_hash.text'|trans }}<br>
                        <span class="is-family-monospace">{{ calculated_hash }}</span></p>
                </div>
            </section>
        {% else %}
            <section class="hero is-small is-success">
                <div class="hero-body">
                    <p class="title">{{ 'document_page.text.right_hash.header'|trans }}</p>
                    <p class="subtitle">{{ 'document_page.text.right_hash.text'|trans }}</p>
                </div>
            </section>
        {% endif %}
        <pre>{{ document.text }}</pre>
    </div>

    {% if session.account.username == "sozidatel" %}
        <h1 class="title">{{ 'document_sign.sign_preform.name'|trans }}</h1>
        <form action="/documents/{{ document.hash }}/sign" method="get">
            <div class="field">
                <label class="label" for="account_id">{{ 'editor.stellar_account'|trans }}</label>
                <input
                        id="account_id"
                        class="input"
                        type="text"
                        name="id"
                        placeholder="G..."
                        value="{{ default_id }}"
                        maxlength="56"
                />
                <p class="help">{{ 'document_sign.sign_preform.help'|trans }}</p>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <input type="reset" class="button is-light" value="Reset">
                </div>
                <div class="control">
                    <input type="submit" class="button is-link" value="Edit →">
                </div>
            </div>
        </form>
    {% endif %}
{% endif %}

    <table class="table" data-sortlist="[[0,0],[1,0]]">
        <thead>
        <tr>
                <th data-sorter="text">{{ 'document_page.account'|trans }}</th>
                <th data-sorter="text">{{ 'document_page.signature_name'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for signature in signatures %}
        <tr>
                <td>{{ include('account_link.twig', {data: signature.account}, with_context = false) }}</td>
                <td>{{ signature.name }}</td>
        </tr>
        {% endfor %}
        </tbody>
</table>

{% if can_edit %}
<p class="block">
    <a href="/documents/{{ document.hash }}/edit" class="xis-link">{{ 'document_page.edit_link'|trans }}</a>
</p>
{% endif %}

{% endblock %}
