{% extends "page.twig" %}

{% block title %}{{ 'nav.documents'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
    <li class="is-active"><a href="/documents/" aria-current="page">{{ 'nav.documents'|trans }}</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">{{ 'nav.documents'|trans }}</h1>

    <p class="block">{{ 'documents.description'|trans }}</p>

    <div class="content">
    <ul>
    {% for document in documents|sort((a, b) => b.using_count <=> a.using_count) %}
        <li>
            {{ include('document_item.twig', {data: document}, with_context = false) }}
        </li>
    {% endfor %}
    </ul>
    </div>

    {% if can_add %}
        <p class="block">
            <a class="is-link" href="/documents/my/">✏️ {{ 'documents.link_to_my'|trans }}</a>
        </p>
    {% endif %}
{% endblock %}
