{% extends "page.twig" %}

{% block title %}{{ document.display_name }} — {{ 'nav.documents'|trans }}{% endblock %}

{% block head %}
<style>
    .original_text {
        font-family: monospace;
        white-space: pre-wrap;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
        <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
        <li><a href="/documents/" aria-current="page">{{ 'nav.documents'|trans }}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ document.display_name }}</a></li>
{% endblock %}

{% block content %}
        <script>
                $(function () {
                        $(".table").tablesorter();
                });
        </script>
<h1 class="title">{{ 'document_page.header'|trans }}: {{ document.display_name }}</h1>
<h1 class="subtitle">
        <span class="is-family-monospace">{{ document.hash }}</span>
</h1>

{% if document.is_obsolete or new_hash %}
<article class="message is-warning">
    <div class="message-body">
        {% if document.is_obsolete %}
            {{ 'document_page.obsolete'|trans }}
        {% endif %}
        {% if new_hash %}
            {{ 'document_page.new_version'|trans }} <a href="/documents/{{ new_hash.hash }}/" class="is-family-monospace">{{ new_hash.hash|hash_short }}</a>.
        {% endif %}
    </div>
</article>
{% endif %}

{% if document.text %}
    {% if text_html %}
    <div class="tabs is-toggle is-small">
        <ul>
            <li class="{% if not show_original %}is-active{% endif %}"><a href="{{ page_url }}">{{ 'document_page.text.switcher.markdown'|trans }}</a></li>
            <li class="{% if show_original %}is-active{% endif %}"><a href="{{ page_url }}?show=original">{{ 'document_page.text.switcher.original'|trans }}</a></li>
        </ul>
    </div>
    {% endif %}
    <div class="message">
        <div class="message-header">
            {{ 'document_page.text.header'|trans }}
            {% if invalid_hash %}
                <span class="tag is-warning" title="{{ 'document_page.text.wrong_hash.text'|trans }}">{{ 'document_page.text.wrong_hash.header'|trans }}</span>
            {% else %}
                <span class="tag is-success" title="{{ 'document_page.text.right_hash.text'|trans }}">{{ 'document_page.text.right_hash.header'|trans }}</span>
            {% endif %}
        </div>
        <div class="message-body">

        <div class="original_text {% if text_html and not show_original %}is-hidden{% endif %}">{{ document.text }}</div>
        {% if text_html %}
        <div class="content {% if show_original %}is-hidden{% endif %}">{{ text_html|raw }}</div>
        {% endif %}

        </div>
    </div>
{% endif %}

{% if document.url %}
    <p class="block"><a href="{{ document.url }}">{{ 'document_page.link'|trans }}</a></p>
{% endif %}

<div id="document-sign"></div>
{% if sign %}
    {% if not sign.show_form %}
        <p class="block"><a href="{{ sign.link }}">{{ 'document_sign.sign_preform.show_form'|trans }}</a></p>
    {% else %}
        <div class="box">
            <h1 class="title">
                {{ 'document_sign.sign_preform.name'|trans }}
            </h1>
            <p class="block">{{ 'document_sign.form.sign_hint'|trans }}</p>

            {% if not sign.account %}
                <p class="block">{{ 'document_sign.form.unknown_account'|trans }}</p>
            {% endif %}

            {% if sign.errors %}
                <div class="notification is-danger">
                    <ul>
                        {% for error in sign.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form action="{{ page_url }}#document-sign" method="get">
                <input type="hidden" name="sign_form" value="yes">
                <div class="field">
                    <label class="label" for="account_id">{{ 'editor.stellar_account'|trans }}</label>
                    <div class="field has-addons">
                        <div class="control is-expanded has-icons-left">
                            <input
                                    id="account_id"
                                    class="input"
                                    type="text"
                                    name="account_id"
                                    placeholder="G..."
                                    value="{{ sign.form_account_id }}"
                                    maxlength="56"
                            />
                            <span class="icon is-left"><i class="fas fa-user"></i></span>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-primary">
                                {{ 'document_sign.sign_preform.button_change_account'|trans }}
                            </button>
                        </div>
                    </div>
                    <p class="help">{{ 'document_sign.sign_preform.help'|trans }}</p>
                </div>
            </form>

            {% if sign.account %}
            <form action="{{ page_url }}#document-sign" method="get">
                <input type="hidden" name="sign_form" value="yes">
                <input type="hidden" name="account_id" value="{{ sign.account.id }}">
                    <p class="block">
                        {{ 'document_sign.form.account'|trans }}:
                        {{ include('account_link.twig', {data: sign.account}, with_context = false) }}
                    </p>

                    {% if sign.existing_signature %}
                        <p class="block">
                            {{ 'document_sign.form.signed_as'|trans({
                                '%name%': sign.existing_signature.name|e
                            })|raw }}
                        </p>
                        <p class="block">{{ 'document_sign.form.rename_hint'|trans }}</p>
                    {% else %}
                        <p class="block">{{ 'document_sign.form.unsigned'|trans }}</p>
                    {% endif %}

                    <div class="field">
                        <label class="label" for="signature_name">{{ 'document_sign.form.name_label'|trans }}</label>
                        <input
                                id="signature_name"
                                class="input"
                                type="text"
                                name="signature_name"
                                value="{{ sign.signature_name }}"
                                maxlength="{{ sign.max_name_length }}"
                                required
                        />
                        <p class="help">{{ 'document_sign.form.name_help'|trans({'%default%': document.display_name}) }}</p>
                    </div>

                    <div class="buttons">
                        {% if sign.existing_signature %}
                            <button type="submit" class="button is-link" name="sign_action" value="rename">
                                {{ 'document_sign.actions.rename'|trans }}
                            </button>
                            <button type="submit" class="button is-danger is-light" name="sign_action" value="revoke">
                                {{ 'document_sign.actions.revoke'|trans }}
                            </button>
                        {% else %}
                            <button type="submit" class="button is-primary" name="sign_action" value="sign">
                                {{ 'document_sign.actions.sign'|trans }}
                            </button>
                        {% endif %}
                    </div>

                {% endif %}

            </form>

            {% if sign.signing_form %}
                <article class="message is-warning">
                    <div class="message-body">
                        {{ 'document_sign.form.delay_notice'|trans }}
                    </div>
                </article>
                {{ sign.signing_form|raw }}
            {% endif %}
        </div>
    {% endif %}
{% endif %}


    <h1 class="title">
        {{ 'document_sign.signers.header'|trans }}
    </h1>

    {% if signatures %}
    <table class="table" data-sortlist="[[0,0],[1,0]]">
        <thead>
        <tr>
                <th data-sorter="text">{{ 'document_page.account'|trans }}</th>
                <th data-sorter="text">{{ 'document_page.signature_name'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for signature in signatures %}
        <tr>
                <td>{{ include('account_link.twig', {data: signature.account}, with_context = false) }}</td>
                <td>{{ signature.name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="block">{{ 'document_page.signers.no_signers'|trans }}</p>
    {% endif %}

{% if can_edit %}
<p class="block">
    <a href="/documents/{{ document.hash }}/edit" class="xis-link">{{ 'document_page.edit_link'|trans }}</a>
</p>
{% endif %}

{% endblock %}
