{% extends "page.twig" %}

{% block title %}{{ 'editor.result'|trans }} — {{ 'nav.editor'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
    <li><a href="/editor/" aria-current="page">{{ 'nav.editor'|trans }}</a></li>
    <li><a href="/editor/{{ account.id }}" aria-current="page">{{ account.short_id }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'editor.result'|trans }}</a></li>
{% endblock %}

{% block content %}
    <style>
        .qr_svg svg {
            width: 50vmin;
            background-color: #d6d9e0;
            padding: 10px;
        }
    </style>
    <h1 class="title">{{ 'editor.result'|trans }}</h1>
    <p class="block">
        {{ 'editor.instruction'|trans }}
    </p>
    <p class="block">
        <span class="icon has-text-info"><i class="fa-solid fa-circle-info"></i></span>
        {{ 'editor.timeout_notice'|trans }}
    </p>

    <h2 class="title is-4">{{ 'editor.sign.header'|trans }}</h2>

    <div class="buttons">
        <a href="{{ sep_07 }}" class="button is-primary">
            <span class="icon"><i class="fa-solid fa-wand-magic-sparkles"></i></span>
            <span>{{ 'editor.sign.sep_07_button_name'|trans }}</span>
        </a>

        {% if mmwb_url %}
        <a href="{{ mmwb_url }}" class="button is-link" target="_blank" rel="noopener noreferrer">
            <span class="icon">
                <i class="fa-brands fa-telegram"></i>
            </span>
            <span>@MyMTLWalletBot (MTL Wallet)</span>
        </a>
        {% endif %}

        <a href="https://eurmtl.me/uri?xdr={{ xdr|url_encode }}" class="button is-dark">
            <span class="icon">
                <i class="fa-solid fa-key"></i>
            </span>
            <span>Sign by secret key</span>
        </a>
    </div>

    <p class="block">{{ 'editor.sign.qr_text'|trans }}:</p>
    <p class="block qr_svg">{{ qr_svg|raw }}</a></p>

    <div class="field">
        <label for="xdr_body">{{ 'editor.transaction_label'|trans }} ({{ operations_count }}):</label>
        <div class="control">
            <textarea class="textarea" id="xdr_body">{{ xdr }}</textarea>
        </div>
    </div>


{% endblock %}

