{% extends "page.twig" %}

{% block title %}{{ 'editor.result'|trans }} — {{ 'nav.editor'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
    <li><a href="/editor/" aria-current="page">{{ 'nav.editor'|trans }}</a></li>
    <li><a href="/editor/{{ account.id }}" aria-current="page">{{ account.short_id }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'editor.result'|trans }}</a></li>
{% endblock %}

{% block content %}
    <h1 class="title">{{ 'editor.result'|trans }}</h1>
    <p class="block">
        {{ 'editor.instruction'|trans }}
    </p>
    <p class="block">
        <span class="icon has-text-info"><i class="fa-solid fa-circle-info"></i></span>
        {{ 'editor.timeout_notice'|trans }}
    </p>

    <h2 class="title is-4">{{ 'editor.sign.header'|trans }}</h2>
    <p class="block">{{ 'editor.transaction_label'|trans }}: {{ operations_count }}</p>
    {{ signing_form|raw }}

{% endblock %}
