{% extends "page.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1 class="title">{{ 'common.full_name'|trans }}</h1>

    <form method="get" action="/search/">
        <div class="field has-addons">
            <div class="control has-icons-left is-expanded">
                <input type="text" name="q" class="input is-large" placeholder="{{ 'search.placeholder_hint'|trans }}" size="32" maxlength="64" value="{{ q }}">
                <span class="icon is-large is-left">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <div class="control">
                <input type="submit" class="button is-link is-large"  value="{{ 'search.action.search'|trans }}">
            </div>
        </div>
    </form>

    <p class="block">
        <a href="/accounts/">{{ 'index_page.accounts'|trans({'%count%': accounts_count}) }}</a>
        (<a href="/accounts/?adopters=true">{{ adopters_count }}</a>)
    </p>
    <p class="block">
        <a href="/tags/">{{ 'index_page.tags'|trans }}</a>
    </p>
    <p class="block">
        <a href="/mtla/council">{{ 'index_page.mtla_council'|trans }}</a>
    </p>
    <p class="block">
        For the legacy HTML page: <a href="https://bsn.expert/html">/html</a>.
    </p>
    <p class="block">
        If you are looking RAW JSON data: <a href="https://bsn.expert/json">/json</a>.<br>
        An organized list of well-known tags <a href="/known_tags.json">/known_tags.json</a> (<a href="/schemas/known_tags_schema.json">schema</a>)
    </p>
{% endblock %}
