{% extends "page.twig" %}

{% block title %}{{ 'nav.programs'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
    <li><a href="/mtla/" aria-current="page">{{ 'nav.mtla'|trans }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'nav.programs'|trans }}</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">{{ 'mtla_programs_page.header'|trans }}</h1>

    <div class="columns is-desktop is-multiline">
        {% for program in programs %}
            <div class="column is-half-desktop">
                <div class="box">
                    <h2 class="title is-4">
                        <i class="fa-regular fa-file-lines"></i>
                        <a href="/mtla/programs/{{ program.data.id }}">{{ program.data.name ?: program.data.short_id }}</a>
                    </h2>

                    <p class="block">
                        <strong>{{ 'mtla_programs_page.account'|trans }}:</strong>
                        {{ include('account_link.twig', {data: program.data}, with_context = false) }}<br>
                        <strong>{{ 'mtla_programs_page.coordinator'|trans }}:</strong>
                        {% if program.coordinator %}
                            {{ include('account_link.twig', {data: program.coordinator}, with_context = false) }}
                        {% else %}
                            {{ 'mtla_programs_page.coordinator_unknown'|trans }}
                        {% endif %}
                    </p>

                    <h3 class="title is-5">{{ 'mtla_programs_page.participants'|trans }}</h3>
                    {% if program.participants %}
                    <ul class="block">
                        {% for participant in program.participants %}
                            <li>
                                {{ include('account_link.twig', {data: participant}, with_context = false) }}
                                {% if participant.tt_code %}
                                (<a href="/tokens/{{ participant.tt_code }}-{{ participant.tt_issuer }}">{{ participant.tt_code }}</a>)
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p class="block">{{ 'mtla_programs_page.no_participants'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'mtla_snapshot_box.twig' with {
        snapshot: snapshot,
        refresh: refresh
    } only %}

{% endblock %}
