{% extends "page.twig" %}

{% block title %}{{ 'nav.mtla'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'nav.mtla'|trans }}</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">{{ 'mtla_page.title'|trans }}</h1>

    <ul class="block">
        <li>{{ 'mtla_page.account'|trans }}: {{ include('account_link.twig', {data: mtla_account}, with_context = false) }}</li>
        <li>{{ 'mtla_page.website'|trans }}: <a href="https://mtla.me/">mtla.me</a></li>
        <li>./<a href="/mtla/council">{{ 'nav.council'|trans }}</a></li>
        <li>./<a href="/mtla/programs">{{ 'nav.programs'|trans }}</a></li>
    </ul>
{% endblock %}

