<html lang="en" class="has-navbar-fixed-top">
<head>
    <title>{% block title %}{% endblock %} — BSN viewer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if og_title %}
    <meta property="og:type" content="profile" />
    <meta property="og:site_name" content="{{ 'common.full_name'|trans }}" />
    <meta property="og:image" content="https://bsn.mtla.me/images/og_title_common.png" />
    <meta property="og:title" content="{{ og_title }}" />
    {%  if og_url %}
        <meta property="og:url" content="https://bsn.mtla.me{{ og_url }}" />
    {% endif %}
    {%  if og_description %}
        <meta property="og:description" content="{{ og_description }}" />
    {% endif %}
    {% endif %}
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
        .account_name {
            font-family: monospace;
        }
        .copyable {
            cursor: copy;
        }
    </style>
    <script>
        $(document).ready(function() {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function() {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });


            if (navigator.clipboard) {
                $('code, .stellar_address')
                    .addClass('copyable')
                    .on('click', function() {
                            navigator.clipboard.writeText($(this).text()).then(() => {
                            console.log('Текст успешно скопирован: ' + $(this).text());
                        }).catch(err => {
                            console.error('Ошибка при копировании текста: ', err);
                        }
                    );
                });
            } else {
                console.warn('Clipboard API недоступен.');
            }
        });
    </script>
    <script src="https://kit.fontawesome.com/b9f0d80246.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>

<body>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-background-primary has-text-black" href="/">
            {{ 'common.short_name'|trans }}
        </a>
        <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                {{ 'nav.home'|trans }}
            </a>
            <a class="navbar-item" href="/accounts/">
                {{ 'nav.accounts'|trans }}
            </a>
            <a class="navbar-item" href="/tags/">
                {{ 'nav.tags'|trans }}
            </a>
            <a class="navbar-item" href="/editor/">
                {{ 'nav.editor'|trans }}
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/tools/">
                    {{ 'nav.tools.title'|trans }}
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/tools/multisig">
                        {{ 'nav.tools.multisig'|trans }}
                    </a>
                    <a class="navbar-item" href="/tools/percent_pay">
                        {{ 'nav.tools.percent_pay'|trans }}
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/mtla">
                    {{ 'nav.mtla'|trans }}
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/mtla/council">
                        {{ 'nav.council'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            {% if session.account %}
                <div class="navbar-item has-dropdown is-hoverable">
                    {% if session.account.username %}
                    <a class="navbar-link" href="/@{{ session.account.username }}">
                    @{{ session.account.username }}
                    </a>
                    {% else %}
                    <a class="navbar-link" href="/accounts/{{ session.account.id }}">
                    {{ session.account.short_id }}
                    </a>
                        {% endif %}
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/contacts">
                            {{ 'nav.contacts'|trans }}
                        </a>
                        <a class="navbar-item" href="/editor/{{ session.account.id }}">
                            {{ 'nav.editor'|trans }}
                        </a>
                        <a class="navbar-item" href="/preferences">
                            {{ 'nav.preferences'|trans }}
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/logout?return_to={{ server.REQUEST_URI }}">
                            {{ 'nav.logout'|trans }}
                        </a>
                    </div>
                </div>
            {% else %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/login?return_to={{ server.REQUEST_URI }}">
                    {{ 'nav.login'|trans }}
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/preferences">
                        {{ 'nav.preferences'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            {% block breadcrumbs %}
            <li class="is-active"><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
            {% endblock %}
        </ul>
    </nav>

{% block content %}{% endblock %}
    </div>
</section>

<div class="footer">
    2024. Proudly developed by <a href="https://monte.wiki/ru/Соз">Soz</a> from <a href="https://mtla.me/">Montelibero Association</a>.
</div>
</body>
</html>
