<html lang="en" class="has-navbar-fixed-top">
<head>
    <title>{% block title %}{% endblock %} — BSN viewer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if og_title %}
    <meta property="og:type" content="profile" />
    <meta property="og:site_name" content="{{ 'common.full_name'|trans }}" />
    <meta property="og:image" content="https://bsn.mtla.me/images/og_title_common.png" />
    <meta property="og:title" content="{{ og_title }}" />
    {%  if og_url %}
        <meta property="og:url" content="https://bsn.mtla.me{{ og_url }}" />
    {% endif %}
    {%  if og_description %}
        <meta property="og:description" content="{{ og_description }}" />
    {% endif %}
    {% endif %}
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
        .account_name {
            font-family: monospace;
        }
        .copyable {
            cursor: copy;
        }
    </style>
    <script>
        $(document).ready(function() {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function() {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });


            if (navigator.clipboard) {
                $('code, .stellar_address')
                    .addClass('copyable')
                    .on('click', function() {
                            navigator.clipboard.writeText($(this).text()).then(() => {
                            console.log('Текст успешно скопирован: ' + $(this).text());
                        }).catch(err => {
                            console.error('Ошибка при копировании текста: ', err);
                        }
                    );
                });
            } else {
                console.warn('Clipboard API недоступен.');
            }
        });
    </script>
    <script src="https://kit.fontawesome.com/b9f0d80246.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>

<body>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-background-primary has-text-black" href="/">
            {{ 'common.short_name'|trans }}
        </a>
        {% set current_account %}
        {% set current_id = current_user.currentAccountId %}
        {% set auth_id = current_user.account.id %}
        {% if current_id and current_id != auth_id %}
            <span class="tag is-info">{{ current_user.getCurrentAccount.getShortId }}</span>
        {% endif %}
        {% endset %}

        {% if current_user.account %}
        <a class="navbar-item" href="/preferences">
            {% if current_user.account.username %}
            @{{ current_user.account.username }}
            {% else %}
            {{ current_user.account.getShortId }}
            {% endif %}
            {{ current_account }}
        </a>
        {% else %}
        <a class="navbar-item" href="/login?return_to={{ server.REQUEST_URI }}">
            <span class="icon"><i class="fa-solid fa-arrow-right-to-bracket"></i></span>
            {{ 'nav.login'|trans }}
            {{ current_account }}
        </a>
        {% endif %}
        <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/accounts/">
                    <i class="fa-regular fa-rectangle-list"></i>
                    {{ 'nav.accounts'|trans }}
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/tags/">
                        {{ 'nav.tags'|trans }}
                    </a>
                    <a class="navbar-item" href="/tokens/">
                        {{ 'nav.tokens'|trans }}
                    </a>
                    <a class="navbar-item" href="/documents/">
                        {{ 'nav.documents'|trans }}
                    </a>
                    <a class="navbar-item" href="/transactions/">
                        {{ 'nav.transactions'|trans }}
                    </a>
                </div>
            </div>

            <a class="navbar-item" href="/editor/">
                <i class="fa-regular fa-square-check"></i>
                {{ 'nav.editor'|trans }}
            </a>

            <a class="navbar-item" href="/graph">
                <i class="fa-solid fa-diagram-project"></i>
                {{ 'nav.graph'|trans }}
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/tools/">
                    <i class="fa-solid fa-screwdriver"></i>
                    {{ 'nav.tools.title'|trans }}
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/tools/multisig">
                        {{ 'nav.tools.multisig'|trans }}
                    </a>
                    <a class="navbar-item" href="/tools/timetoken">
                        {{ 'nav.tools.timetoken'|trans }}
                    </a>
                    <a class="navbar-item" href="/tools/percent_pay">
                        {{ 'nav.tools.percent_pay'|trans }}
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/mtla">
                    <i class="fa-regular fa-building"></i>
                    {{ 'nav.mtla'|trans }}
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/mtla/council">
                        {{ 'nav.council'|trans }}
                    </a>
                    <a class="navbar-item" href="/mtla/programs">
                        {{ 'nav.programs'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="/preferences">
                <i class="fa-solid fa-gears"></i>
                {{ 'nav.preferences'|trans }}
            </a>
        </div>
    </div>
</nav>
<section class="section">
    {% set is_wide_page = is_wide_page|default(false) %}
    {% if not is_wide_page %}
    <div class="container">
    {% endif %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            {% block breadcrumbs %}
            <li class="is-active"><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
            {% endblock %}
        </ul>
    </nav>

{% block content %}{% endblock %}
    {% if not is_wide_page %}
    </div>
    {% endif %}
</section>

<div class="footer">
    2024. Proudly developed by <a href="https://monte.wiki/ru/Соз">Soz</a> from <a href="https://mtla.me/">Montelibero Association</a>.
</div>
</body>
</html>
