{% extends "page.twig" %}

{% block title %}{{ 'nav.preferences'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">BSN</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'nav.preferences'|trans }}</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">{{ 'nav.preferences'|trans }}</h1>

    <h2 class="title">{{ 'preferences.auth.header'|trans }}</h2>
    {% if session.account %}
    <p class="block">
        {{ 'preferences.auth.logged_in'|trans }}
        {{ include('account_link.twig', {data: account}, with_context = false) -}}
        {%- if session.account.username %}, @{{ session.account.username }}{% endif %}
    </p>
    <p class="block">
        <a href="/logout" class="button is-danger is-outlined">{{ 'preferences.auth.logout'|trans }}</a>
    </p>
    {% else %}
    <p class="block">
        {{ 'preferences.auth.not_logged_in'|trans }}<br>
    </p>
    <p class="block">
        <a href="/login?return_to={{ server.REQUEST_URI }}" class="button is-link">{{ 'preferences.auth.login'|trans }}</a>
    </p>
    {% endif %}

    {% if session.account %}
    <h2 class="title">{{ 'preferences.contacts.header'|trans }}</h2>
    <p class="block">
        <a href="/contacts" class="button is-link">
            {% if contacts_count == 0 %}
            {{ 'preferences.contacts.link_no_cintacts'|trans }}
            {% else %}
            {{ 'preferences.contacts.link_contacts'|trans({ '%contacts_count%': contacts_count }) }}
            {% endif %}
        </a>
    </p>
    {% endif %}

    <p class="block">
        {{ 'preferences.description'|trans }}
    </p>
    <!--
    <p class="block">
        <a class="button is-link is-light" href="/preferences/api">{{ 'preferences.api.title'|trans }}</a>
    </p>
    -->

    <form action="/preferences" method="post">
        <div class="field">
            <label class="label" for="default_bsn_viewer">{{ 'preferences.default_viewer.header'|trans }}</label>
            <div class="control">
                <div class="select">
                    <select id="default_bsn_viewer" name="viewer">
                        <option value="this">bsn.mtla.me</option>
                        <option value="eurmtl" {% if current_value == 'eurmtl' %}selected{% endif %}>viewer.eurmtl.me</option>
                        <option value="brainbox" {% if current_value == 'brainbox' %}selected{% endif %}>bsn.brainbox.no</option>
                    </select>
                </div>
            </div>
            <p class="help">{{ 'preferences.default_viewer.description'|trans }}</p>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <input type="submit" class="button is-primary" value="Submit">
            </div>
        </div>
    </form>
{% endblock %}
