{% extends "page.twig" %}

{% block title %}{{ 'nav.search'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'nav.search'|trans }}</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">{{ 'nav.search'|trans }}</h1>

    <p class="block">
        {{ 'search.description'|trans }}
    </p>

    <form method="get" action="/search/">
    <div class="field">
        <label class="label" for="new_name">Search</label>
        <div class="control">
            <input type="text" id="new_name" name="q" class="input" placeholder="{{ 'search.placeholder_hint'|trans }}" size="32" maxlength="128" value="{{ q }}">
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <input type="submit" class="button is-link"  value="{{ 'search.action.search'|trans }}">
        </div>
    </div>
    </form>

    {% if q %}
        <h2 class="subtitle">{{ q }}</h2>

        {% if results_total %}
            <p class="block has-text-grey">
                {{ 'search.results_summary'|trans({'%cnt%': results_total, '%shown%': results_returned}) }}
                {% if results_has_more %}
                    {{ 'search.results_limited'|trans({'%shown%': results_returned, '%cnt%': results_total}) }}
                {% endif %}
            </p>

            <div class="search-results-list">
                {% for result in results %}
                    {% include 'search_result_item.twig' with { result: result } %}
                {% endfor %}
            </div>
        {% else %}
            <p class="block has-text-primary">
                {{ 'search.not_found'|trans }}
            </p>
        {% endif %}
    {% endif %}

{% endblock %}
