{% extends "page.twig" %}

{% block title %}{{ signing_view|upper }} — {{ 'editor.sign.header'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'editor.sign.header'|trans }}</a></li>
{% endblock %}

{% block content %}
    <h1 class="title">{{ signing_view|upper }}</h1>
    {{ include('signing_content.twig') }}
{% endblock %}
