<form method="post" action="/sign" target="_blank" class="block mb-6">
    <input type="hidden" name="xdr" value="{{ xdr }}">
    <input type="hidden" name="uri" value="{{ uri }}">
    <input type="hidden" name="description" value="{{ description }}">
    <input type="hidden" name="sign" value="{{ sign }}">
    <p class="block">{{ 'editor.sign.default_instruction'|trans }}</p>

    <div class="columns is-multiline is-variable is-2">
        <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
            <a href="{{ uri }}" class="button is-fullwidth is-justify-content-flex-start is-primary">
                <span class="icon"><i class="fa-solid fa-wand-magic-sparkles"></i></span>
                <span>{{ 'editor.sign.sep_07_button_name'|trans }}</span>
            </a>
        </div>

        <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
            <button type="submit" name="action" value="mmwb" class="button is-fullwidth is-justify-content-flex-start is-link">
                <span class="icon"><i class="fa-brands fa-telegram"></i></span>
                <span>@MyMTLWalletBot</span>
            </button>
        </div>

        <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
            <button type="submit" name="action" value="qr" formtarget="_self" class="button is-info is-fullwidth is-justify-content-flex-start">
                <span class="icon"><i class="fa-solid fa-qrcode"></i></span>
                <span>QR</span>
            </button>
        </div>

        {% if xdr %}
        <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
            <button
                type="submit"
                name="action"
                value="eurmtl"
                class="button is-fullwidth is-justify-content-flex-start is-warning"
                {% if not can_collect_multisig %}disabled title="{{ 'editor.sign.collect_multisig_disabled_title'|trans }}"{% endif %}
            >
                <span class="icon"><i class="fa-solid fa-signature"></i></span>
                <span>{{ 'editor.sign.collect_multisig_button_name'|trans }}</span>
            </button>
        </div>
        {% endif %}

        {% if xdr %}
        <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
            <a href="https://eurmtl.me/uri?xdr={{ xdr|url_encode }}" target="_blank" class="button is-fullwidth is-justify-content-flex-start">
                <span class="icon"><i class="fa-solid fa-key"></i></span>
                <span>{{ 'editor.sign.secret_key_button_name'|trans }}</span>
            </a>
        </div>
        {% endif %}

        {% if xdr %}
        <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
            <button type="submit" formaction="/tools/xdr2lab" formtarget="_self" class="button is-fullwidth is-justify-content-flex-start">
                <span class="icon"><i class="fa-solid fa-file-code"></i></span>
                <span>XDR</span>
            </button>
        </div>
        {% endif %}
    </div>
</form>
