{% extends "page.twig" %}

{% block title %}Tags{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
    <li class="is-active"><a href="/tags/" aria-current="page">{{ 'nav.tags'|trans }}</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">{{ 'nav.tags'|trans }}</h1>

    <div class="columns is-desktop is-multiline">
        {% for category in tag_categories %}
            <div class="column is-half-desktop">
                <section class="box">
                    <h2 class="title is-4">{{ category.name }}</h2>

                    {% for tag in category.tags %}
                        <div class="is-flex is-align-items-center is-justify-content-space-between py-2{% if not loop.last %} mb-1{% endif %}" style="gap: 1rem;">
                            <a class="has-text-weight-semibold" href="/tags/{{ tag.name }}{% if filter_query %}?{{ filter_query }}{% endif %}">{{ tag.name }}</a>
                            <span class="tag is-info" title="{{ 'tags_page.out'|trans }} / {{ 'tags_page.in'|trans }}">
                                {{ tag.out }} / {{ tag.in }}
                            </span>
                        </div>
                    {% endfor %}
                </section>
            </div>
        {% endfor %}
    </div>

    {% if unknown_tags_count > 0 %}
        <p class="block">
            <a href="/preferences?show_unknown_tags={{ show_unknown_tags ? 'no' : 'yes' }}">
                {% if show_unknown_tags %}
                    {{ 'tags_page.hide_unknown_tags'|trans }}
                {% else %}
                    {{ 'tags_page.show_unknown_tags'|trans({'%cnt%': unknown_tags_count}) }}
                {% endif %}
            </a>
        </p>
    {% endif %}

{% endblock %}
