{% extends "page.twig" %}

{% block title %}{{ tag.name }} — Tags{% endblock %}

{% block breadcrumbs %}
        <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
        <li><a href="/tags/" aria-current="page">{{ 'nav.tags'|trans }}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ tag.name }}</a></li>
{% endblock %}

{% block content %}
        <script>
                $(function () {
                        $(".table").tablesorter();
                });
        </script>
<h1 class="title">{{ tag.name }}</h1>

        {% macro pairing_marker (pair_name, has_pair, pair_strong) %}
                {% if has_pair %}
                <span title="{{ 'account_page.pair.green'|trans }}: {{ pair_name }}">🟢</span>
                {% elseif pair_strong %}
                <span title="{{ 'account_page.pair.red'|trans }}: {{ pair_name }}">🔴</span>
                {% else %}
                <span title="{{ 'account_page.pair.yellow'|trans }}: {{ pair_name }}">🟡</span>
                {% endif %}
        {% endmacro %}

        {% if tag_not_found %}
        <article class="message is-warning">
                <div class="message-body">
                        {{ 'tag_page.unknown_tag_warning'|trans }}
                </div>
        </article>
        {% endif %}

        {% if tag.is_editable and current_user.currentAccountId %}
        <p class="block"><a href="/editor/{{ current_user.currentAccountId }}/?tag={{ tag.name }}">{{ 'tag_page.edit_link'|trans }} →</a></p>
        {% endif %}

        <table class="table" data-sortlist="{% if tag.pair %}[[0,0],[2,0]]{% else %}[[0,0],[1,0]]{% endif %}">
                <thead>
                <tr>
                        <th data-sorter="text">{{ 'tag_page.source'|trans }}</th>
                        {% if tag.pair %}
                        <th data-sorter="digit">{{ 'tag_page.pair'|trans }}</th>
                        {% endif %}
                        <th data-sorter="text">{{ 'tag_page.target'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for link in links %}
                <tr>
                        <td>{{ include('account_link.twig', {data: link.source_account}, with_context = false) }}</td>
                        {% if tag.pair %}
                        <td data-text="{{ link.pair_status_sort }}">{{ _self.pairing_marker(tag.pair_name, link.has_pair, tag.pair_strong) }}</td>
                        {% endif %}
                        <td>{{ include('account_link.twig', {data: link.target_account}, with_context = false) }}</td>
                </tr>
                {% endfor %}
                </tbody>
        </table>

        {% if tag.name == 'RecommendForVerification' %}
        <p class="block"><a href="/tools/mtla/recommend_verification">{{ 'tag_page.link_to_recommend_verification'|trans }} →</a></p>
        {% endif %}

{% endblock %}
