{% extends "page.twig" %}

{% block title %}{{ 'nav.tokens'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
    <li class="is-active"><a href="/tokens/" aria-current="page">{{ 'nav.tokens'|trans }}</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">{{ 'nav.tokens'|trans }}</h1>

    <p class="block">{{ 'tokens.description'|trans }}</p>

    {% for category in tokens %}
    <h2 class="title is-4" id="category_{{ category.name_code }}">{{ category.name }}</h2>
        <p class="block">{{ category.description }}</p>
        <div class="field is-grouped is-grouped-multiline">
            {% for token in category.tokens %}
                <div class="control">
                    {{ include('token_link.twig', {token: token, is_known: true, link_class: 'tags has-addons are-medium token-tag-link token-link', code_tag_class: 'tag is-info'}, with_context = false) }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
