{% extends "page.twig" %}

{% block title %}{{ 'nav.tools.percent_pay'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">BSN</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'nav.tools.percent_pay'|trans }}</a></li>
{% endblock %}


{% block content %}
    <script>
        $(function () {
            $(".table").tablesorter();
        });
    </script>

    <h1 class="title">{{ 'nav.tools.percent_pay'|trans }}</h1>
    <p class="block">{{ 'tools_percent_pay.description'|trans }}</p>
    <form action="/tools/percent_pay" method="get" class="block">
        <div class="field">
            <label class="label" for="asset_issuer">{{ 'tools_percent_pay.asset_issuer.name'|trans }}</label>
            <div class="control has-icons-left">
                <input
                        id="asset_issuer"
                        class="input"
                        type="text"
                        name="asset_issuer"
                        placeholder="G..."
                        value="{{ asset_issuer }}"
                        maxlength="56"
                />
                <span class="icon is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
            <p class="help">{{ 'tools_percent_pay.asset_issuer.hint'|trans }}</p>
        </div>
        <div class="field">
            <label class="label" for="asset_code">{{ 'tools_percent_pay.asset_code.name'|trans }}</label>
            <div class="control has-icons-left">
                <input
                        id="asset_code"
                        class="input"
                        type="text"
                        name="asset_code"
                        placeholder="{{ 'tools_percent_pay.asset_code.placeholder'|trans }}"
                        value="{{ asset_code }}"
                        maxlength="12"
                />
                <span class="icon is-left">
                    <i class="fas fa-font"></i>
                </span>
            </div>
            <p class="help">{{ 'tools_percent_pay.asset_code.hint'|trans }}</p>
        </div>
        <div class="field">
            <label class="label" for="percent">{{ 'tools_percent_pay.percent.name'|trans }}</label>
            <div class="control has-icons-left">
                <input
                        id="percent"
                        class="input"
                        type="number"
                        name="percent"
                        placeholder="1.234"
                        value="{{ percent }}"
                        maxlength="6"
                />
                <span class="icon is-left">
                    <i class="fa-solid fa-percent"></i>
                </span>
            </div>
            <p class="help">{{ 'tools_percent_pay.percent.hint'|trans }}</p>
        </div>
        <div class="field">
            <label class="label" for="payer_account">{{ 'tools_percent_pay.payer_account.name'|trans }}</label>
            <div class="control has-icons-left">
                <input
                        id="payer_account"
                        class="input"
                        type="text"
                        name="payer_account"
                        placeholder="G..."
                        value="{{ payer_account }}"
                        maxlength="56"
                />
                <span class="icon is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
            <p class="help">{{ 'tools_percent_pay.payer_account.hint'|trans }}</p>
        </div>
        {% if payment_token.is_standard %}
            <div class="field">
                <label class="label" for="payment_token">{{ 'tools_percent_pay.payment_token.name'|trans }}</label>
                <div class="control has-icons-left">
                    <span class="select is-fullwidth">
                    <select
                        id="payment_token"
                        name="payment_token"
                    >
                        {% for token in payment_token_options %}
                        <option value="{{ token.code }}-{{ token.issuer }}"
                        {% if token.code == payment_token.code %}
                            selected
                        {% endif %}
                        >{{ token.code }}</option>
                        {% endfor %}
                    </select>
                    </span>
                    <span class="icon is-left">
                    <i class="fa-solid fa-coins"></i>
                </span>
                </div>
                <p class="help">{{ 'tools_percent_pay.payment_token.hint_select'|trans }}</p>
            </div>
        {% else %}
            <div class="field">
                <label class="label" for="payment_token">{{ 'tools_percent_pay.payment_token.name'|trans }}</label>
                <div class="control has-icons-left">
                    <input
                            id="payment_token"
                            class="input"
                            type="text"
                            name="payment_token"
                            value="{{ payment_token.code }}-{{ payment_token.issuer }}"
                            maxlength="69"
                    />
                    <span class="icon is-left">
                    <i class="fa-solid fa-coins"></i>
                </span>
                </div>
                <p class="help">{{ 'tools_percent_pay.payment_token.hint_free'|trans }}</p>
            </div>
        {% endif %}
        <div class="field">
            <label class="label" for="memo">{{ 'tools_percent_pay.memo.name'|trans }}</label>
            <div class="control has-icons-left">
                <input
                        id="memo"
                        class="input"
                        type="text"
                        name="memo"
                        placeholder="{{ 'tools_percent_pay.memo.placeholder'|trans }}"
                        value="{{ memo }}"
                        maxlength="28"
                />
                <span class="icon is-left">
                    <i class="fa-solid fa-comment"></i>
                </span>
            </div>
            <p class="help">{{ 'tools_percent_pay.memo.hint'|trans }}</p>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <input type="reset" class="button is-light" value="{{ 'tools_percent_pay.buttons.reset'|trans }}">
            </div>
            <div class="control">
                <input type="submit" class="button is-link" value="{{ 'tools_percent_pay.buttons.calculate'|trans }}">
            </div>
        </div>
    </form>

    {% if accounts %}
    <h2 class="title is-4">{{ 'tools_percent_pay.calculation.title'|trans }}</h2>
    <p class="block">{{ 'tools_percent_pay.calculation.description'|trans({
            '%asset_code%': asset_code,
            '%asset_issuer%': asset_issuer,
            '%payment_token_code%': payment_token.code,
            '%payment_token_issuer%': payment_token.issuer,
        })|raw }}</p>
    <table class="table" id="holders" data-sortlist="[[1,1]]">
        <thead>
        <tr>
            <th data-sorter="false">{{ 'tools_percent_pay.calculation.account'|trans }}</th>
            <th data-sorter="digit" class="has-text-right">{{ 'tools_percent_pay.calculation.balance'|trans }}</th>
            <th data-sorter="digit" class="has-text-right">{{ 'tools_percent_pay.calculation.to_pay'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ include('account_link.twig', {data: account}, with_context = false) }}</td>
                <td class="has-text-right">{{ account.balance }}</td>
                <td class="has-text-right">{{ account.to_pay }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>{{ 'tools_percent_pay.calculation.sum'|trans }}:</td>
                <td class="digit">{{ sum_balance }}</td>
                <td class="digit">{{ sum_to_pay }}</td>
            </tr>
        </tfoot>
    </table>
    {% endif %}


    {% if signing_forms %}
    {% if signing_forms|length == 1 %}
        <h2 class="title is-4">{{ 'tools_percent_pay.calculation.transaction'|trans }}</h2>
        <p class="block">{{ 'tools_percent_pay.calculation.instruction_single'|trans }}</p>
        {{ signing_forms[0]|raw }}
    {% else %}
        <h2 class="title is-4">{{ 'tools_percent_pay.calculation.transactions'|trans }}</h2>
        <p class="block">{{ 'tools_percent_pay.calculation.instruction_multi'|trans }}</p>
        {% for signing_form in signing_forms %}
            <h3 class="title is-5">{{ 'tools_percent_pay.calculation.transaction_no'|trans }} {{ loop.index }}</h3>
            {{ signing_form|raw }}
        {% endfor %}
    {% endif %}
    {% endif %}


{% endblock %}

