{% extends "page.twig" %}

{% block title %}{{ 'nav.tools.multisig'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">{{ 'common.short_name'|trans }}</a></li>
    <li><a href="/tools" aria-current="page">{{ 'nav.tools.title'|trans }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'nav.tools.multisig'|trans }}</a></li>
{% endblock %}


{% block content %}
    <h1 class="title">{{ 'nav.tools.multisig'|trans }}</h1>
    <p class="block">{{ 'tools_multisig.intro.paragraph_1'|trans }}</p>
    <p class="block">{{ 'tools_multisig.intro.paragraph_2'|trans }}</p>

    <h2 class="title is-4">{{ 'tools_multisig.current_state.title'|trans }}</h2>
    <p class="block">
        {{ 'tools_multisig.account'|trans }}:
        {{ include('account_link.twig', {data: account}, with_context = false) }}
    </p>
    {% if current_multisig %}
    {{ include('account_multisig_summary.twig', {multisig: current_multisig}, with_context = false) }}
    {% else %}
        <p class="block">{{ 'tools_multisig.current_state.no_multisig'|trans }}</p>
    {% endif %}

    {% if errors %}
        <div class="notification is-danger">
            <h2 class="title is-4">{{ 'tools_multisig.errors.title'|trans }}</h2>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </div>
    {% endif %}

    {% if save %}
        <h2 class="title is-4">{{ 'tools_multisig.transaction_ready'|trans }}</h2>

        {% if signing_form %}
        {{ signing_form|raw }}
        {% endif %}
    {% endif %}

    <form action="/tools/multisig" method="post">
        {% if current_account_param %}
            <input type="hidden" name="current_account" value="{{ current_account_param|e('html_attr') }}">
        {% endif %}

        <h2 class="title is-4">{{ 'tools_multisig.thresholds.title'|trans }}</h2>
        <p class="block">{{ 'tools_multisig.thresholds.description'|trans }}</p>

        <div class="block">
        <div class="field">
            <label class="label" for="low_threshold">{{ 'tools_multisig.thresholds.low.label'|trans }}</label>
            <div class="control has-icons-left">
                <input
                        id="low_threshold"
                        class="input"
                        type="number"
                        min="0"
                        max="255"
                        step="1"
                        name="low_threshold"
                        placeholder="1"
                        value="{{ low_threshold }}"
                        maxlength="3"
                />
                <span class="icon is-left has-text-success">
                    <i class="fa-solid fa-weight-hanging"></i>
                </span>
            </div>
            <p class="help">{{ 'tools_multisig.thresholds.low.help'|trans }}</p>
        </div>
        <div class="field">
            <label class="label" for="med_threshold">{{ 'tools_multisig.thresholds.med.label'|trans }}</label>
            <div class="control has-icons-left">
                <input
                        id="med_threshold"
                        class="input"
                        type="number"
                        min="0"
                        max="255"
                        step="1"
                        name="med_threshold"
                        placeholder="1"
                        value="{{ med_threshold }}"
                        maxlength="3"
                />
                <span class="icon is-left has-text-warning">
                    <i class="fa-solid fa-weight-hanging"></i>
                </span>
            </div>
            <p class="help">{{ 'tools_multisig.thresholds.med.help'|trans }}</p>
        </div>
        <div class="field">
            <label class="label" for="high_threshold">{{ 'tools_multisig.thresholds.high.label'|trans }}</label>
            <div class="control has-icons-left">
                <input
                        id="high_threshold"
                        class="input"
                        type="number"
                        min="0"
                        max="255"
                        step="1"
                        name="high_threshold"
                        placeholder="1"
                        value="{{ high_threshold }}"
                        maxlength="3"
                />
                <span class="icon is-left has-text-danger">
                    <i class="fa-solid fa-weight-hanging"></i>
                </span>
            </div>
            <p class="help">{{ 'tools_multisig.thresholds.high.help'|trans }}</p>
        </div>
        </div>

        <h2 class="title is-4">{{ 'tools_multisig.signers.title'|trans }}</h2>
        <p class="block">
            {{ 'tools_multisig.signers.description'|trans({'%reserve_xlm%': signer_reserve_xlm}) }}
        </p>
        <div class="block" data-multisig-signers-list>
        {% for i in 0..20 %}
        <div class="field"{% if i %} data-multisig-signer-row="{{ i }}"{% endif %}>
            <label class="label" for="account_{{ i }}">
                {% if i %}
                    {{ 'tools_multisig.signers.item_label'|trans({'%number%': i}) }}
                {% else %}
                    {{ 'tools_multisig.signers.master_key'|trans }}
                {% endif %}
            </label>
            <div class="field has-addons">
                <div class="control is-expanded has-icons-left">
                    <input
                            id="account_{{ i }}"
                            class="input is-family-monospace"
                            type="text"
                            name="account_{{ i }}"
                            placeholder="G..."
                            value="{% if i %}{{ multisig[i].account|default('') }}{% else %}{{ account_id }}{% endif %}"
                            maxlength="56"
                            data-account-autocomplete-input
                            {% if not i %}disabled{% endif %}
                    />
                    <span class="icon is-left">
                        <i class="fa-solid fa-user"></i>
                    </span>
                </div>
                <div class="control has-icons-left">
                    <input
                            id="weight_{{ i }}"
                            class="input"
                            type="number"
                            min="0"
                            max="255"
                            step="1"
                            name="weight_{{ i }}"
                            value="{{ multisig[i].weight|default('') }}"
                            maxlength="3"
                    />
                    <span class="icon is-left">
                        <i class="fa-solid fa-weight-hanging"></i>
                    </span>
                </div>
            </div>
            <p class="help">
                {% if i %}
                    {{ 'tools_multisig.signers.signer_help'|trans }}
                {% else %}
                    {{ 'tools_multisig.signers.master_key_help'|trans }}
                {% endif %}
            </p>
        </div>
        {% endfor %}
        </div>

        <p class="block">
            <button type="button" class="pseudo-link is-hidden" data-multisig-add-signer>
                <span class="icon is-small"><i class="fa-solid fa-plus" aria-hidden="true"></i></span>
                <span>{{ 'tools_multisig.signers.add'|trans }}</span>
            </button>
        </p>

        <div class="field is-grouped">
            <div class="control">
                <input type="reset" class="button is-light" value="{{ 'tools_multisig.buttons.reset'|trans }}">
            </div>
            <div class="control">
                <input type="submit" name="action" class="button is-link" value="{{ 'tools_multisig.buttons.calculate'|trans }}">
            </div>
        </div>
    </form>
{% endblock %}
