{% extends "page.twig" %}

{% block title %}{{ 'who_are_you.title'|trans }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="/" aria-current="page">BSN</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ 'who_are_you.title'|trans }}</a></li>
{% endblock %}

{% block content %}
    <h1 class="title">{{ 'who_are_you.switcher_title'|trans }}</h1>

    <div class="content">
        <p>{{ 'who_are_you.intro'|trans }}</p>
        <p>{{ 'who_are_you.safety'|trans }}</p>
    </div>

    <article class="message is-info">
        <div class="message-body">
            {{ 'who_are_you.multisig_note'|trans }}
        </div>
    </article>

    {{ include('who_are_you_switcher.twig') }}
{% endblock %}
